---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import SkillsSection from "@/components/SkillsSection";
import ProjectsSection from "@/components/ProjectsSection";
import EducationSection from "@/components/EducationSection";
import Footer from "@/components/Footer";

import {
  personalInfo,
  skills,
  projects,
  education,
} from "@/lib/data-jp";
---

<Layout>
  <GlassHeader client:only="react" />
  <main class="min-h-screen">
    <HeroSection client:only="react" personalInfo={personalInfo} />
    <SkillsSection client:only="react" data={skills} />
    <ProjectsSection client:only="react" data={projects} />
    <EducationSection client:only="react" data={education} />
  </main>
  <Footer client:only="react" />
</Layout>
